<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Form Add Kamar</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<h3>Tambah Kamar</h3>
<form th:action="@{/kamar/add}" th:object="${hotel}" method="POST">
    <input type="hidden" th:field="*{hotel}"/>
    <table class="table">
        <thead>
        <tr>
            <th>Nama Kamar</th>
            <th>Tipe Kamar</th>
            <th>Kapasitas Kamar</th>
            <th>
                <button th:href="@{/kamar/add/{hotel.id}" name="addRows"
                        class="btn btn-primary">Tambah</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="kamar, itemStat : *{tempKamar}">
            <td>
                <input class="form-control" type="text" th:field="*{tempKamar[__${itemStat.index}__].namaKamar}"
                       placeholder="Nama Kamar">
            </td>
            <td>
                <select class="form-control" th:field="*{tempKamar[__${itemStat.index}__].tipe}">
                    <option value="0">Deluxe</option>
                    <option value="1">Execuitve</option>
                    <option value="2">President Suite</option>
                </select>
            </td>
            <td>
                <input class="form-control" type="number"
                       th:field="*{tempKamar[__${itemStat.index}__].kapasitasKamar}" placeholder="Kapasitas Kamar">
            </td>
            <td>
                <a th:text="Hapus" class="btn btn-danger"></a>
            </td>
        </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-success"> Simpan </button>

</form>
</body>
</html>